html {
  overflow: hidden;
  background: #eee;
  background: url(../img/aqua-blue.jpg) no-repeat center center fixed;
  background-size: cover;
}
#genie_text {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -355px;
}
.fork_me {
  position: absolute;
  top: 0px;
  right: 0px;
}
.dock {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}
.dock ul {
  background: url(../img/board_middle.png) 50% 100% repeat-x;
  position: relative;
  display: inline-block;
  list-style-type: none;
  padding: 0px 20px;
  margin: 0px auto;
}
.dock ul:before {
  content: '';
  background: url(../img/board_left.png) 50% 100% no-repeat;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: -29px;
  width: 29px;
}
.dock ul:after {
  content: '';
  background: url(../img/board_right.png) 50% 100% no-repeat;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: -29px;
  width: 29px;
}
.dock ul li {
  position: relative;
  display: inline-block;
  margin: 0px 10px 25px 10px;
  line-height: 1px;
  width: 65px;
}
.dock ul li:before {
  content: '';
  background: url(../img/shadow.png) 50% 50% no-repeat;
  position: absolute;
  bottom: -10px;
  left: 0px;
  right: 0px;
  width: 68px;
  height: 12px;
  z-index: 1;
}
.dock img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}
.dock img.genie-thumb {
  -moz-transition: background-position 700ms ease-out;
  -webkit-transition: background-position 700ms ease-out;
}
.dock img.paced-thumb {
  -moz-transition: background-position 630ms ease-in;
  -webkit-transition: background-position 630ms ease-in;
}
.genie {
  position: absolute;
  display: none;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.genie.expand .genie-step {
  -moz-transition: background-position 700ms ease-out;
  -webkit-transition: background-position 700ms ease-out;
}
.genie.fan .genie-step {
  -moz-transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
}
.genie.collapse .genie-step {
  -moz-transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;
}
.genie.change-pace {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
.genie.change-pace .genie-step {
  -moz-transition: background-position 1330ms ease-in;
  -webkit-transition: background-position 1330ms ease-in;
}
.genie .genie-step {
  background-repeat: no-repeat;
  background-image: inherit;
  background-size: 100%;
  position: absolute;
}
